<% if selector == "long" %>
    <ul class="list-inline list-unstyled text-center">
      <li class="notification-item">
        <% unless announcementnotification.read %>
          <span class="glyphicon glyphicon-asterisk"></span>
        <% end %>
        <%= time_ago_in_words(announcementnotification.created_at) + " ago" %>
        <% if announcementnotification.notice_type == "comment" %>
          <strong>
            <%= link_to "#{announcementnotification.notified_by.username} left a #{announcementnotification.notice_type}: ", link_announcementthrough_path(announcementnotification) %>
          </strong>
        <% else %>
          <strong>
            <%= link_to "#{announcementnotification.notified_by.username} #{announcementnotification.notice_type} you: ", link_announcementthrough_path(announcementnotification) %>
          </strong>
        <% end %>
        <%= announcementnotification.announcement.title %>
      </li>
    </ul>
<% elsif selector == "short" %>
     <li>
      <% if announcementnotification.notice_type == "comment" %>
          <%= link_to "#{announcementnotification.notified_by.username} left a #{announcementnotification.notice_type}", link_announcementthrough_path(announcementnotification) %>
      <% else %>
          <%= link_to "#{announcementnotification.notified_by.username} #{announcementnotification.notice_type} you", link_announcementthrough_path(announcementnotification) %>
      <% end %>
     </li>
<% end %>


