<% if selector == "long" %>
<!-- Table -->
  <tbody id="notificationslist">
    <td class="col-xs-1">
      <% if !announcementnotification.read %>
        <span class="glyphicon glyphicon-asterisk"></span>New
      <% else %>
        Viewed
      <% end %>
    </td>
    <td class="col-xs-1">
      <%= time_ago_in_words(announcementnotification.created_at) + " ago" %>
    </td>
    <td class="col-xs-5">
      <% if announcementnotification.notice_type == "comment" %>
        <strong>
          <%= link_to announcementnotification.notified_by.username %><%= link_to " left a #{announcementnotification.notice_type} in your post", link_announcementthrough_path(announcementnotification) %>
        </strong>
      <% elsif announcementnotification.notice_type == "New Announcement" %>
        <strong>
          <%= link_to "#{announcementnotification.notice_type} created for the following categories: ", link_announcementthrough_path(announcementnotification) %><%= render announcementnotification.announcement.categories %>
        </strong>
      <% elsif announcementnotification.notice_type == "tagged" %>  
        <strong>
          <%= link_to announcementnotification.notified_by.username %><%= link_to " mentioned you", link_announcementthrough_path(announcementnotification) %>
        </strong>
      <% end %>
    </td>
    <td class="col-xs-5">
      <strong>
        <%= link_to "#{announcementnotification.announcement.title}", link_announcementthrough_path(announcementnotification) %> 
      </strong> 
    </td>
  </tbody>
<% elsif selector == "short" %>
     <li>
      <% if announcementnotification.notice_type == "comment" %>
          <%= link_to "#{announcementnotification.notified_by.username} left a #{announcementnotification.notice_type}", link_announcementthrough_path(announcementnotification) %>
      <% elsif announcementnotification.notice_type == "New Announcement" %>
          <%= link_to "#{announcementnotification.notice_type} created for categories which you're following!", link_announcementthrough_path(announcementnotification) %>
      <% elsif announcementnotification.notice_type == "tagged" %>
          <%= link_to "#{announcementnotification.notified_by.username} mentioned you", link_announcementthrough_path(announcementnotification) %>
      <% end %>
     </li>
<% end %>




