<% if selector == "long" %>
<!-- Table -->
  <tbody>
    <td class="col-xs-2">
      <% if !notification.read %>
        <span class="glyphicon glyphicon-asterisk"></span>New
      <% else %>
        Viewed
      <% end %>
    </td>
    <td class="col-xs-4">
      <%= time_ago_in_words(notification.created_at) + " ago" %>
    </td>
    <td class="col-xs-6">
      <% if notification.notice_type == "comment" %>
        <strong>
          <%= link_to "#{notification.notified_by.username} left a #{notification.notice_type}", link_through_path(notification) %>
        </strong>
      <% else %>  
        <strong>
          <%= link_to "#{notification.notified_by.username} left a #{notification.notice_type}", link_through_path(notification) %>
        </strong>
      <% end %>
    </td>
  </tbody>
<% elsif selector == "short" %>
  <li>
    <% if notification.notice_type == "comment" %>
        <%= link_to "#{notification.notified_by.username} left a #{notification.notice_type}", link_through_path(notification) %>
    <% elsif notification.notice_type == "like" %>  
          <%= link_to "#{notification.notified_by.username} left a #{notification.notice_type}", link_through_path(notification) %>
    <% else %>
        <%= link_to "#{notification.notified_by.username} left a #{notification.notice_type}", link_through_path(notification) %>
    <% end %>
  </li>
<% end %>



