<% if params[:action] == 'search' %>
  <div class="results-blck">
    <%= bootstrap_flash %>
  </div>
<% end %>  

<% if @user %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= link_to user.username, user %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.first_name? %>
              <%= user.first_name %>
            <% else %>
              ------
            <% end %>
          </td>
          <td>
            <% if user.last_name? %>
              <%= user.last_name %>
            <% else %>
              ------
            <% end %>
          </td>
          <td><%= user.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
