<% if params[:action] == 'search' %>
  <div class="results-blck">
    <%= bootstrap_flash %>
  </div>
<% end %>  


<% if @user %>
    <div id="user-search-results" class="well results-blocks col-md-12">
      <table class="search-results-table col-md-12">
        <tbody>
          <% @user.each do |user| %>
            <tr>
              <td><strong>Username: </strong> <%= link_to user.username, user %></td>
              <td><strong>Email: </strong> <%= user.email %></td>
              <td><strong>First name: </strong> <%= user.first_name %></td>
              <td><strong>Last name: </strong> <%= user.last_name %></td>
              <td><strong>Role: </strong> <%= user.role %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>