<% if params[:action] == 'search' %>
  <div class="results-blck">
    <%= bootstrap_flash %>
  </div>
<% end %>  

<% if @user %>
  <div class="well results-blocks col-md-10 col-md-offset-1 col-xs-12 users-table">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-xs-3">Username</th>
            <th class="col-xs-3">Email</th>
            <th class="col-xs-2">First name</th>
            <th class="col-xs-2">Last name</th>
            <th class="col-xs-2">Role</th>
          </tr>
        </thead>
        <tbody>
          <% @user.each do |user| %>
            <tr>
              <td class="col-xs-3"><%= link_to user.username, user %></td>
              <td class="col-xs-3"><%= user.email %></td>
              <td class="col-xs-2">
                <% if user.first_name? %>
                  <%= user.first_name %>
                <% else %>
                  ------
                <% end %>
              </td>
              <td class="col-xs-2">
                <% if user.last_name? %>
                  <%= user.last_name %>
                <% else %>
                  ------
                <% end %>
              </td>
              <td class="col-xs-2"><%= user.role %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> 
  </div>
<% end %>
