<!-- this is used to change the login details if the user is the current user, if its an admin and is trying to edit another user then it will use users/editlogin -->
<%= render 'layouts/errors', obj: @user %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div align="center">
          <strong><h3>Edit <%= @user.username %>'s profile</h3></strong>
        </div>
      </div>
      <div class="panel-body">
        <%= simple_form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
            <div class="form-inputs">
                <div class="container-fluid">
                  <div class="form-group text-center">
                    <div class="img-circle profile-image-edit">
                      <%= profile_avatar_select(@user) %>
                    </div>
                    <div class="upload-profile-image" align="center">
                      <%= f.input :avatar, onChange: 'loadFile(event)' %>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group text-center">
                      <%= f.input :username, class: "form-control", placeholder: "Enter username", required: true, autofocus: true %>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group text-center">
                      <%= f.input :email, class: "form-control", placeholder: "Enter email", required: true %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group text-center">
                      <%= f.input :first_name, class: "form-control", placeholder: "Enter first name", required: false %>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group text-center">
                      <%= f.input :last_name, class: "form-control", placeholder: "Enter last name", required: false %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group text-center">
                      <%= f.input :job_role, class: "form-control", placeholder: "Enter job role", required: false %>
                    </div>
                  </div>
                  <div class="col-xs-6">
                      <% if :authenticate_user? and current_user.admin? %>
                      <div class="form-group text-left">
                          <%= f.label "Admin" %> 
                          <%= f.check_box :admin %>
                      </div>
                      <% end %>
                      <div class="form-group text-left">
                          <%= f.label "Role" %>
                          <%= f.select :role, User.roles.keys.to_a %>
                      </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group text-center">
                      <h4>Update your resume:</h4>
                      <%= md_simple_editor do %>
                        <%= f.input :resume, label: false, input_html: { rows: 10 } %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group text-center">
                      <%= f.input :password, class: "form-control", autocomplete: "off", placeholder: "Leave it blank if you don't want to change it", required: false %>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group text-center col-xs-6 col-xs-offset-3">
                    <%= f.button :button, "Update".html_safe, class: 'btn-success btn-block', data: {disable_with: "<i class='fa fa-spinner fa-pulse'></i> Updating..."} %>
                </div>
                 <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group text-center">
                            [<%= link_to "Go back to profile", user_path(@user.username) %>]
                        </div>
                    </div>    
                </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
          
          
    
