<div align="center">
  <h1>All users</h1>
</div>

<div id="users" class="well results-blocks col-md-12">
  <table class="users-table col-md-12">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><strong>Username: </strong> <%= link_to user.username, user %></td>
          <td><strong>Email: </strong> <%= user.email %></td>
          <td><strong>First name: </strong> <%= user.first_name %></td>
          <td><strong>Last name: </strong> <%= user.last_name %></td>
          <td><strong>Role: </strong> <%= user.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= render 'search' %>




