<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div align="center">
          <strong><h3 align="center"><%= @user.username + "'s profile" %></h3></strong>
        </div>
      </div>
      <% if current_user.admin? %>
        <div align="right">
          <%= link_to "#{@user.username} to do list", to_do_list_path(@user), class: 'btn to-do-button', id: 'to-do-button' %>
        </div>
      <% end %>
      <div class="panel-body">
        <div class="col-xs-12" align="center">
          <div class="img-circle avatar-image">
            <%= profile_avatar_select(@user) %>
          </div>
        </div>
        <div class="col-xs-12" align="center">
          <div class="user-name">
            <div class="col-xs-12" align="center">
              <% if @user.deleted? %>
                <h5<span class="badge" id="deleted_badge">Deleted user</span>&nbsp;</h5>
              <% else %>
                <h5<span class="badge" id="active_badge">Active user</span>&nbsp;</h5>
              <% end %>
            </div>
            <h5 class="account-type">
              <% if @user.admin?  %>
                Account type: Admin
              <% else %>
                  Account type: User
              <% end %>
            </h5>
            <% if @user.first_name.present? and @user.last_name.present? %>
            <h5 class="user-first-last-name">
              Name: <%= @user.first_name %> <%= @user.last_name %>
            </h5>
            <% end %>
            <h5 class="role">
              Role: <%= @user.role %>
            </h5>
            <h5 class="job-title">
              Job title: <%= @user.job_role %>
            </h5>
            <div class="details">
              <h5 align="center">
                Created:<br>
                <%= link_to pluralize(@user.articles.count, "Wiki post"), user_articles_search_path(@user) if @user.articles %><br>
                <%= link_to pluralize(@user.announcements.count, "Announcement"), user_announcements_search_path(@user) if @user.announcements %><br>
                <%= link_to pluralize(@user.faqs.count, "FAQ"), user_faqs_search_path(@user) if @user.faqs %><br>
                <%= link_to pluralize(@user.socialposts.count, "Social Post"), user_socialposts_search_path(@user) if @user.socialposts %>
              </h5>
              <hr>
              <h5>Following:<br>
                <%= link_to pluralize(@user.following_by_type_count('Article'), "wiki"), user_follow_articles_path(@user) %><br>
                <%= link_to pluralize(@user.following_by_type_count('Announcement'), "announcement"), user_follow_announcements_path(@user) %><br>
                <%= link_to pluralize(@user.following_by_type_count('Faq'), "FAQ"), user_follow_faqs_path(@user) %><br>
                <%= pluralize(@user.following_by_type_count('Category'), "category") %><br>
              </h5>
              <% @categories.each do |category| %>
                  <span class="badge"><%= link_to category.name, category_path(category) %></span>&nbsp;
              <% end %>
            </div>
            <hr>
            <h4 class="resume">Resume: </h4>
            <h5 align="left"><%= simple_format(markdownify @user.resume) %></h5>
            <hr>
            <span>
              <!-- check users/editlogin and devise/registrations/edit to check a comment about these 2 next if's -->
              <% if @user == current_user %>
                <%= link_to 'Edit profile', edit_user_registration_path(current_user), class: "btn btn-xs btn-success" %>
              <% elsif !@user.deleted? && current_user.admin? && (current_user != @user) %>
                <%= link_to 'Edit profile', edit_user_path(@user), class: "btn btn-xs btn-success" %>
                <%= link_to "Delete user", user_path(@user), method: :delete, 
                                                                   data: { confirm: "Are you sure you want to delete this User?"}, 
                                                                  class: "btn btn-xs btn-danger" %>
              <% elsif @user.deleted? && current_user.admin? && (current_user != @user) %>
                <%= link_to 'Edit profile', edit_user_path(@user), class: "btn btn-xs btn-success" %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      
