<h1 align="center"><%= @user.username + " profile"%></h1>

<div class="posts-wrapper">
  <div class="row profile-header">
    <div class="col-md-6">
      <div class="img-circle avatar-image">
        <%= profile_avatar_select(@user) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="user-name-and-follow">
        <h6 class="account-type">
          <% if @user.admin?  %>
            Account type: Admin
          <% else %>
              Account type: User
          <% end %>
        </h6>
        <% if @user.first_name.present? and @user.last_name.present? %>
        <h6 class="User-first-name">
          Name: <%= @user.first_name %> <%= @user.last_name %>
        </h6>
        <% end %>
        <h6 class="role">
          Role: <%= @user.role %>
        </h6>
        <h6 class="job-title">
          Title: <%= @user.job_role %>
        </h6>
        <div class="details" align="left">
          <small align="center">
            <%= link_to pluralize(@user.articles.count, "Article"), user_articles_search_path(@user) if @user.articles %><br>
            <%= link_to pluralize(@user.announcements.count, "Announcement"), user_announcements_search_path(@user) if @user.announcements %><br>
            <%= link_to pluralize(@user.socialposts.count, "Social Post"), user_socialposts_search_path(@user) if @user.socialposts %>
          </small>
        </div>
        <h6 class="resume">
          Resume: <%= @user.resume %>
        </h6>
        <span>
          <% if @user == current_user || current_user.admin? %>
            <%= link_to 'Edit profile', edit_user_path(@user), class: "btn btn-xs btn-primary" %>
          <% end %>
        </span>
         | 
        <span>
          <!-- check users/editlogin and devise/registrations/edit to check a comment about these 2 next if's -->
          <% if @user == current_user %>
            <%= link_to 'Edit details', edit_user_registration_path(current_user), class: "btn btn-xs btn-primary" %>
          <% end %>
          <% if @user != current_user and current_user.admin? %>
            <%= link_to 'Edit details', editlogin_path(@user) %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
    
      
