
<div class="posts-wrapper">
  <div class="row profile-header">
    <div class="col-md-6">
      <div class="img-circle avatar-image">
        <%= profile_avatar_select(@user) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="user-name-and-follow">
        <h3 class="profile-user-name">
          <%= @user.username %> 
        </h3>
        <h6 class="account-type">
          <% if @user.admin?  %>
            Account type: Admin
          <% else %>
              Account type: User
          <% end %>
        </h6>
        <% if @user.first_name.present? and @user.last_name.present? %>
        <h6 class="User-first-name">
          Name: <%= @user.first_name %> <%= @user.last_name %>
        </h6>
        <% end %>
        <h6 class="role">
          Role: <%= @user.role %>
        </h6>
        <h6 class="job-title">
          Title: <%= @user.job_role %>
        </h6>
        <span>
          <% if @user == current_user || current_user.admin? %>
            <%= link_to 'Edit profile', edit_user_path(@user) %>
          <% end %>
        </span>
         | 
        <span>
          <!-- check users/editlogin and devise/registrations/edit to check a comment about these 2 next if's -->
          <% if @user == current_user %>
            <%= link_to 'Edit details', edit_user_registration_path(current_user) %>
          <% end %>
          <% if @user != current_user and current_user.admin? %>
            <%= link_to 'Edit details', editlogin_path(@user) %>
          <% end %>
        </span>
      </div>
      <p class="profile-resume">
        <%= @user.resume %>
      </p>
      <div class="user-statistics">
        <p>
          <%= pluralize @user.socialposts.count, 'post' %>
        </p>
      </div>
    </div>
  </div>
</div>
      
      
      
      
      
      
    <!--create later a url to anothe rpage with the user posts-->  
<% @socialposts.each do |socialpost| %>
  <%= render 'socialposts/socialpost', socialpost: socialpost %>
<% end %>


