<div class="col-xs-12 col-xs-offset-0">
	<div id="bookmarks" class="results-blocks col-xs-10 col-xs-offset-1">
	  <div class="panel panel-info bookmarks-table">
	    <!-- Default panel contents -->
	    <div class="panel-heading" align="center">
	       <strong><h4><%= link_to 'Bookmarked Wikis', articles_bookmark_list_path(@user) %></h3></strong>
	    </div>
	    <!-- Table -->
       <div id="articles-bookmark-list" class="list-group" data-url="<%= sort_articles_path %>" >
		  <% @articles.each do |article| %>
			  <% if @user.bookmarks?(article) %>
			  	<%= link_to "#{article.title}", article, class: "list-group-item", id: dom_id(article) %>
			   <% end %>
		  <% end %>
		</div>
	  </div>
	</div>

	<div id="bookmarks" class="results-blocks col-xs-10 col-xs-offset-1">
	  <div class="panel panel-info bookmarks-table">
	    <!-- Default panel contents -->
	    <div class="panel-heading" align="center">
	       <strong><h4><%= link_to 'Bookmarked Announcements', announcements_bookmark_list_path(@user) %></h3></strong>
	    </div>
	    <!-- Table -->
       <div id="announcements-bookmark-list" class="list-group" data-url="<%= sort_announcements_path %>" >
		  <% @announcements.each do |announcement| %>
			  <% if @user.bookmarks?(announcement) %>
			  	<%= link_to "#{announcement.title}", announcement, class: "list-group-item", id: dom_id(announcement) %>
			   <% end %>
		  <% end %>
		</div>
	  </div>
	</div>

	<div id="bookmarks" class="results-blocks col-xs-10 col-xs-offset-1">
	  <div class="panel panel-info bookmarks-table">
	    <!-- Default panel contents -->
	    <div class="panel-heading" align="center">
	       <strong><h4><%= link_to 'Bookmarked FAQs', faqs_bookmark_list_path(@user) %></h3></strong>
	    </div>
	    <!-- Table -->
       <div id="faqs-bookmark-list" class="list-group" data-url="<%= sort_faqs_path %>" >
		  <% @faqs.each do |faq| %>
			  <% if @user.bookmarks?(faq) %>
			  	<%= link_to "#{faq.title}", faq, class: "list-group-item", id: dom_id(faq) %>
			   <% end %>
		  <% end %>
		</div>
	  </div>
	</div>
 </div>