<div class="well">
  <div class="row">
    <div class="col-lg-12">
      <div class="media">
        <%= linked_users_announcement_comment markdownify announcement_comment.body %>
      </div>
      <hr>
      <div align="left">
      <small>Commented by: <%= link_to announcement_comment.user.username, user_path(announcement_comment.user) %> | Created <%= time_ago_in_words(announcement_comment.created_at) %> | Updated <%= time_ago_in_words(announcement_comment.updated_at) %></small>
      </div>
      <div align="left">
        <%= link_to "Edit", edit_announcement_announcement_comment_path(announcement_comment.announcement, announcement_comment), class: "btn btn-xs btn-primary" %>
        <% if current_user == announcement_comment.user || current_user.admin? %>
          <%= link_to "Delete", [announcement_comment.announcement, announcement_comment], method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-xs btn-danger" %>
        <% end %>
      </div>
    </div> 
  </div>
</div>
