<% if selector == "long" %>
<!-- Table -->
  <tbody id="notificationslist">
    <td>
      <% if !articlenotification.read %>
        <span class="glyphicon glyphicon-asterisk"></span>New
      <% else %>
        Viewed
      <% end %>
    </td>
    <td>
      <%= time_ago_in_words(articlenotification.created_at) + " ago" %>
    </td>
    <td>
      <% if articlenotification.notice_type == "comment" %>
        <strong>
          <%= link_to "#{articlenotification.notified_by.username} left a #{articlenotification.notice_type}", link_articlethrough_path(articlenotification) %>
        </strong>
      <% elsif articlenotification.notice_type == "New Article" %>
        <strong>
          <%= link_to "#{articlenotification.notice_type} for the following categories: ", link_articlethrough_path(articlenotification) %><%= render articlenotification.article.categories %>
        </strong>
      <% else %>  
        <strong>
          <%= link_to "#{articlenotification.notified_by.username} #{articlenotification.notice_type} you", link_articlethrough_path(articlenotification) %>
        </strong>
      <% end %>
    </td>
    <td>
      <%= articlenotification.article.title %> 
    </td>
  </tbody>
<% elsif selector == "short" %>
    <li>
      <% if articlenotification.notice_type == "comment" %>
        <%= link_to "#{articlenotification.notified_by.username} left a #{articlenotification.notice_type}", link_articlethrough_path(articlenotification) %>
      <% elsif %>
        <%= link_to "#{articlenotification.notice_type} for categories which you're following!", link_articlethrough_path(articlenotification) %>
      <% else %>
        <%= link_to "#{articlenotification.notified_by.username} #{articlenotification.notice_type} you ", link_articlethrough_path(articlenotification) %>
      <% end %>
    </li>
<% end %>



