<% if selector == "long" %>
    <ul class="list-inline list-unstyled text-center">
      <li class="notification-item">
        <% unless articlenotification.read %>
          <span class="glyphicon glyphicon-asterisk"></span>
        <% end %>
        <%= time_ago_in_words(articlenotification.created_at) + " ago" %>
        <% if articlenotification.notice_type == "comment" %>
          <strong>
            <%= link_to "#{articlenotification.notified_by.username} left a #{articlenotification.notice_type}: ", link_articlethrough_path(articlenotification) %>
          </strong>
        <% else %>  
          <strong>
            <%= link_to "#{articlenotification.notified_by.username} #{articlenotification.notice_type} you: ", link_articlethrough_path(articlenotification) %>
          </strong>
        <% end %>
        <%= articlenotification.article.title %> 
      </li>
    </ul>
<% elsif selector == "short" %>
    <li>
      <% if articlenotification.notice_type == "comment" %>
        <%= link_to "#{articlenotification.notified_by.username} left a #{articlenotification.notice_type}", link_articlethrough_path(articlenotification) %>
      <% else %>
        <%= link_to "#{articlenotification.notified_by.username} #{articlenotification.notice_type} you ", link_articlethrough_path(articlenotification) %>
      <% end %>
    </li>
<% end %>


