<% if selector == "long" %>
<!-- Table -->
  <tbody id="notificationslist">
    <td class="col-xs-1">
      <% if !articlenotification.read %>
        <span class="glyphicon glyphicon-asterisk"></span>New
      <% else %>
        Viewed
      <% end %>
    </td>
    <td class="col-xs-1">
      <%= time_ago_in_words(articlenotification.created_at) + " ago" %>
    </td>
    <td class="col-xs-5">
      <% if articlenotification.notice_type == "comment" %>
        <strong>
          <%= link_to articlenotification.notified_by.username %><%= link_to " left a #{articlenotification.notice_type} in your post", link_articlethrough_path(articlenotification) %>
        </strong>
      <% elsif articlenotification.notice_type == "New Wiki" %>
        <strong>
          <%= link_to "#{articlenotification.notice_type} created for the following categories: ", link_articlethrough_path(articlenotification) %><%= render articlenotification.article.categories %>
        </strong>
      <% elsif articlenotification.notice_type == "tagged" %>  
        <strong>
          <%= link_to articlenotification.notified_by.username %><%= link_to " mentioned you", link_articlethrough_path(articlenotification) %>
        </strong>
      <% end %>
    </td>
    <td class="col-xs-5">
      <strong>
        <%= link_to "#{articlenotification.article.title}", link_articlethrough_path(articlenotification) %>
      </strong>
    </td>
  </tbody>
<% elsif selector == "short" %>
    <li>
      <% if articlenotification.notice_type == "comment" %>
        <%= link_to "#{articlenotification.notified_by.username} left a #{articlenotification.notice_type}", link_articlethrough_path(articlenotification) %>
      <% elsif articlenotification.notice_type == "New Article" %>
        <%= link_to "#{articlenotification.notice_type} created for categories which you're following!", link_articlethrough_path(articlenotification) %>
      <% elsif articlenotification.notice_type == "tagged" %>
        <%= link_to "#{articlenotification.notified_by.username} mentioned you ", link_articlethrough_path(articlenotification) %>
      <% end %>
    </li>
<% end %>



