
<% if params[:action] == 'search' %>
  <div class="results-blck">
    <%= bootstrap_flash %>
  </div>
<% end %>  

<% if @socialpost %>
<% @socialpost.in_groups_of(4, false).each do |group| %>
    <% group.each do |socialpost| %>
      <div class="col-xs-12 col-sm-4 col-lg-3"> 
        <div class="posts-wrapper">
          <div class="posts">
            <div class="post-head">
              <div class="thumb-img"></div>
                <h5>
                  Created by: <%= link_to socialpost.user.username, user_path(socialpost.user) %><br>
                  Created: (<%= time_ago_in_words socialpost.created_at %> ago)<br>
                  Updated: (<%= time_ago_in_words socialpost.updated_at %> ago)<br>
                  <%= link_to "Open post", socialpost_path(socialpost) %>
                </h5>
              </div>
            
              <!-- this will only show the image if it was uploaded and also redirects to the post if we click in the image -->
              <div class="image center-block">
                <% if socialpost.image.present? %>
                  <%= link_to (image_tag socialpost.image.url(:medium), class:'img-responsive'), socialpost_path(socialpost) %>
                <% else %>
                  <%= link_to (image_tag "hmmm.jpeg", class:'img-responsive'), socialpost_path(socialpost) %>
                <% end %>
              </div>
              <div class="post-bottom">
                <div class="caption">
                  <div class="caption-content" align="center">
                    <div style="word-wrap: break-word">
                      <%= linked_users_socialpost markdownify socialpost.caption %><hr>
                    </div> 
                  </div>  
                </div>
              </div>
            </div>  
          </div>
        </div>       
      </div>
    <% end %>
<% end %>
<% end %>