<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
          <div align="left">
            Created by: <%= socialpost.user.username %>
          </div>
      </div>
    </div>
    <div class="image center-block">
      <% if socialpost.image.present? %>
        <%= image_tag socialpost.image.url(:medium) %>
      <% end %>
    </div>
    <div class="post-bottom">
      <div class="caption">
        <%= socialpost.caption %><hr>
        <div align="center" class="comments">
          <strong>Comments:</strong>
        </div>
      </div>
      <% if socialpost.comments %>
        <% socialpost.comments.each do |comment| %>
          <div class="comment">
            <div class="user-name">
              <%= comment.user.username %>
            </div>
            <div class="comment-content">
              <%= comment.content %>
            
            <% if current_user.admin? || current_user == @comment.user %>
              <h6 align="left"><%= link_to 'Remove', socialpost_comment_path(socialpost, comment), method: :delete, data: { confirm: "Are you sure?" } %></h6>
            <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="comment-like-form row">
      <div class="comment-form col-sm-11">
        <%= form_for [socialpost, socialpost.comments.new] do |f| %>
          <%= f.text_field :content, placeholder: 'Add a comment...' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
