<!DOCTYPE html>
<html>
<head>
  <title>Zappi-Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= favicon_link_tag '/assets/favicon.ico' %>
  
</head>
<body>

<%= render 'layouts/navigation' %>
<%= render 'layouts/sub_nav' %>

<%= bootstrap_flash %>

<div class="container-fluid">
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
</div>
<%= render 'layouts/footer' %>




</body>
</html>



